<template>
    <div class="row" :class="{'bg-danger':rec, 'bg-success': recorded}">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="muted"> # {{aId}} </h3>
                </div>
                <div class="col-md-4">
                    <VueRecordAudio :mode="'press'" @stream="onRec" @result="onRecResult"/>   
                </div>
                <div class="col-md-4" v-if="recorded">
                   <audio
                    :src="audioSrc"
                    controls="controls"
                    ></audio>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        aId: String,
    },
    data() {
        return {
            rec: false,
            recorded: false,
            audioSrc: null
        }
    },
    methods: {
        onRec() {
            this.rec = true
        },
        base64ArrayBuffer(arrayBuffer) {
            var base64    = ''
            var encodings = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'

            var bytes         = new Uint8Array(arrayBuffer)
            var byteLength    = bytes.byteLength
            var byteRemainder = byteLength % 3
            var mainLength    = byteLength - byteRemainder

            var a, b, c, d
            var chunk

            // Main loop deals with bytes in chunks of 3
            for (var i = 0; i < mainLength; i = i + 3) {
                // Combine the three bytes into a single integer
                chunk = (bytes[i] << 16) | (bytes[i + 1] << 8) | bytes[i + 2]

                // Use bitmasks to extract 6-bit segments from the triplet
                a = (chunk & 16515072) >> 18 // 16515072 = (2^6 - 1) << 18
                b = (chunk & 258048)   >> 12 // 258048   = (2^6 - 1) << 12
                c = (chunk & 4032)     >>  6 // 4032     = (2^6 - 1) << 6
                d = chunk & 63               // 63       = 2^6 - 1

                // Convert the raw binary segments to the appropriate ASCII encoding
                base64 += encodings[a] + encodings[b] + encodings[c] + encodings[d]
            }

            // Deal with the remaining bytes and padding
            if (byteRemainder == 1) {
                chunk = bytes[mainLength]

                a = (chunk & 252) >> 2 // 252 = (2^6 - 1) << 2

                // Set the 4 least significant bits to zero
                b = (chunk & 3)   << 4 // 3   = 2^2 - 1

                base64 += encodings[a] + encodings[b] + '=='
            } else if (byteRemainder == 2) {
                chunk = (bytes[mainLength] << 8) | bytes[mainLength + 1]

                a = (chunk & 64512) >> 10 // 64512 = (2^6 - 1) << 10
                b = (chunk & 1008)  >>  4 // 1008  = (2^6 - 1) << 4

                // Set the 2 least significant bits to zero
                c = (chunk & 15)    <<  2 // 15    = 2^4 - 1

                base64 += encodings[a] + encodings[b] + encodings[c] + '='
            }
            
            return base64
            },
        onRecResult(data) {
            this.rec = false
            this.recorded = true
            let _this = this
            let fReader = new FileReader()
            fReader.onload = function(e) {
                _this.$emit('set-audio', {'aId':_this.aId, 'data':_this.base64ArrayBuffer(e.target.result)})
            }
            fReader.readAsArrayBuffer(data);
            this.audioSrc = window.URL.createObjectURL(data)
        }
    }
}
</script>

<style>
.muted {
    color: gray;
}
</style>