<template>
    <div class="container-fluid">
        <h2>  Введите инфомацию о лошадке: </h2>
        <div class="row form-group">
            <div class="col-md-3 col-md-offset-3">
                <label for="name">Имя</label>
                <input  class="form-control" type="text" v-model="name" id="name">
            </div>
             <div class="col-md-3">
                <label for="number">Номер</label>
                <input  class="form-control" type="text" v-model="number" id="number">
            </div>
        </div>
        <div class="row form-group">
              <div class="col-md-5 col-md-offset-2">
                <label for="comment">Комментарий</label>
                <textarea  class="form-control" type="text" v-model="comment" id="comment"></textarea>
            </div>
            <div class="col-md-1">
                <label for="photo-files">Фотографии</label>
                <input  class="btn btn-lg" type="file" id="photo-files" ref="photoFiles" @change="handlePhotoFiles()" multiple accept=".gif,.jpg,.jpeg,.png"/>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        <div class="row">
            <h2> Запишите аудио: </h2>
            <h3> Легкие:  </h3>
            <div class="col-md-6">
                <AudioInput    v-for="aId in lungs1AudioIds" 
                                :key="aId" 
                                :aId="aId"
                                @set-audio="setAudio" 
                                /> 
                
            </div>
            <div class="col-md-6">
                <AudioInput    v-for="aId in lungs2AudioIds" 
                                :key="aId" 
                                :aId="aId"
                                @set-audio="setAudio" 
                                /> 
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        <div class="row">
            <h3> Сердце: </h3>
            <div class="col-md-6">
                <AudioInput    v-for="aId in heart1AudioIds" 
                                :key="aId" 
                                :aId="aId"
                                @set-audio="setAudio" 
                                /> 
                
            </div>
            <div class="col-md-6">
                <AudioInput    v-for="aId in heart2AudioIds" 
                                :key="aId" 
                                :aId="aId"
                                @set-audio="setAudio" 
                                /> 
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <h3> ...Или добавьте аудиофайлы </h3>
            </div>
            <div class="col-md-3">
                <input class="btn btn-lg" type="file" id=audio-files ref="audioFiles" @change="handleAudioFiles()" multiple accept=".wav"/>
            </div>
        </div>
        <div class="row" v-if="audioFiles.length != 0">
            <div class="col-md-1" v-for="f in audioFiles" :key="f.name" :class="{'bg-danger': checkFn(f.name)}">
                {{f.name}} 
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
        </div>
        <modal name="results" width="90%" height="90%">
            
            <div v-if="result" class="container-fluid">
                <div class="row" v-for="(table, idx) in result.tables" :key="idx">
                    <h2> {{result.titles[idx]}} </h2>
                    <div class="col-md-12" v-html="table"/>
                </div>
                <div class="row">
                    <button class="btn btn-sm" @click="finish()">Вводить данные для следующей лощадки</button>
                </div>
            </div>
            
        </modal>
    
           <div class="row bg-danger" v-if="error">
            <h3>{{error}} </h3>
        </div>
          <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-lg btn-success" @click="sendForm()"> Отправить </button> 
                </div>
        </div>
          <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
        </div>
    </div>
</template>

<script>
import AudioInput from '@/components/AudioInput.vue'

export default {
    components: {
        AudioInput
    },
    data() {
        return {
            lungs1AudioIds: ['audio_1', 'audio_2', 'audio_3', 'audio_4', 'audio_5', 'audio_6'],
            lungs2AudioIds: ['audio_7', 'audio_8', 'audio_9', 'audio_10', 'audio_11', 'audio_12'],
            heart1AudioIds: ['audio_13', 'audio_14'],
            heart2AudioIds: ['audio_15', 'audio_16'],
            
            recordedAudios: {}, 
            audioFiles: [],
            photoFiles: [],
            name: '',
            number: 0,
            comment: '',
            
            error: '',
            result: null
        }
    },
    methods: {
        checkFn(fn) {
            return (this.lungs1AudioIds.indexOf(fn) != -1 || this.lungs2AudioIds.indexOf(fn) != -1 || this.heart1AudioIds.indexOf(fn) != -1 || this.heart2AudioIds.indexOf(fn) != 1)
        },
        setAudio(input) {
            console.log(input)
            this.recordedAudios[input.aId] = input.data
            console.log(this.recordedAudios)
        },
        handleAudioFiles() {
            this.audioFiles = this.$refs.audioFiles.files;
            console.log(this.audioFiles)
        },
        handlePhotoFiles() {
            this.photoFiles = this.$refs.photoFiles.files;
        },
        showModalResults(data) {
            this.error = ''
            this.result = data
            this.$modal.show('results')
        }, 
        finish() {
            window.location.reload(true);
        },
        sendForm(){ 
            console.log('will send form')
            this.error = ''
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('number', this.number)
            formData.append('comment', this.comment)

            if (this.recordedAudios !== {}) {
                for (let aid in this.recordedAudios){
                    formData.append('record_'+aid, this.recordedAudios[aid])
                }
            }  
            
            if (this.audioFiles.length != 0) {
                for (let aFile of this.audioFiles) {
                    formData.append('files['+aFile.name+']', aFile)
                }
            }

            if (this.photoFiles.length != 0) {
                for (let pFile of this.photoFiles) {
                    formData.append('files['+pFile.name+']', pFile)
                }
            }
            

            this.$http
                .post(`/receive_data`, formData, {headers: {'Content-Type': 'multipart/form-data'}})
                .then(response => {
                    if (response.data.result != null) {
                        this.showModalResults(response.data.result)
                    }
                    if (response.data.error != null) {
                        this.error = response.error
                    }
                    
                })
                .catch(e => {
                    this.error = e.message
                })
        }

    }
}
</script>
