<template>
    <div class="container">
        <div class="row">
            <h1> Здравствуйте! </h1>
        </div>
        <div class="row">
                    <h2>
                Пожалуйста войдите:</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <div class="form-group">
                    <input type="text" v-model="name" placeholder="имя"/>
                </div>
                <div class="form-group">
                    <input type="password" v-model="password" placeholder="пароль"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success" @click="login()">Войти</button>
                </div>
            </div>
        </div>
        <div class="row bg-danger" v-if="error">
            <h4>{{error}}</h4>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            password: '', 
            error: ''
        }
    },
    methods: {
        login() {
            let _this = this
            this.$http.get('/login').then(response => {
                if (response.data.ok) {
                    this.$http.post('/login', {name:this.name, password:this.password, salt:response.data.salt}).then(presp => {
                        if (presp.data.login_ok){
                            _this.$router.replace('input-form')
                        } else {
                            _this.error = 'Неправильные логин или пароль'
                        }

                    })
                }
            })
            
        }
    }
}
    
</script>
