<template>
  <div id="app">
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  mounted() {
    console.log('mounted');
    let secret = this.$cookies.get('secret')
    if (secret !== '') {
      let _this = this
      this.$http.put('/login', {secret: secret}).then(resp => {
        if (resp.data.login_ok) {
          if (_this.$route.path !== '/input-form') _this.$router.push({path:'/input-form'}, ()=>{
              console.log('on input form')  
          })
        } else {
          if (_this.$route.path !== '/login') _this.$router.push({path:'/login'}, ()=>{
            console.log('on login')
          })
        }
      })
    } else {
      if (this.$route.name !== 'login-page') this.$router.replace('login-page')
    }
  }
}


</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c503b;
  margin-top: 60px;
}
</style>
